{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
        <div class="container">
                <h1>Visitor Tracking and Risk Analytics of Covid-19</h1>
                <p>A Virginia Tech Tech Together Campaign Application</p>
        </div>
</div>
<div class="container ">
        <div class="panel panel-default">
                <div class="panel-heading text-center">
                        <h3></span>Sponsor</h3>
                </div>
                <div class="panel-body text-center">
                        <h3>COVID-19 Rapid Response Seed Fund</h3>
                </div>
        </div>
</div>
<div class="container "></div>
<div class="alert alert-warning alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        We serve cookies on this site to analyze traffic, remember your preferences, and optimize your experience.
</div>

{% endblock %}