{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="clear"></div>
    <div class="container">
        <h1>汝要做甚</h1>
        <div class="clear"></div>
        <!-- <hr> -->
        <a type="button" class="btn btn-lg btn-default" href="/check-in"></span>
            &nbsp; 寻找教授 &nbsp;</a>&nbsp;&nbsp;
        <a type="button" class="btn btn-lg btn-default" href="/check-out"></span>
            &nbsp;寻找学校&nbsp;</a>&nbsp;&nbsp;
        <a type="button" class="btn btn-lg btn-default" href="/check-out"></span>
            &nbsp;仙人指路&nbsp;</a>
    </div>
</div>

{% endblock %}