{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="clear"></div>
    <div class="container">
        <h1>我们的团队</h1>
    </div>
</div>
<div class="container ">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3></span>Team</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHpb8BkoOTT3A/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=TfR6EiWWar6zDK8vPHVkkr25kbFeLnmqiV_mghz7ucs"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Siyuan Ren</h3>
                            <p> Hardware Engineer
                            </p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGl2R3w5c9vqQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=kahQFeC74r2FKsej7_g-lJcksRiy6D3tMRMckV13tg4"
                            alt="...">
                        <div class="caption text-center">
                            <h3>陈宇安</h3>
                            <p> 软件开发</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF-27oNQpkCJg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=do0UOnw1awkhOmDvoXE1ImdotN6HeOfWv8t6mCkyfbE"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Xilei Zhu</h3>
                            <p> Data Scientist</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}