{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="clear"></div>
    <div class="container">
        <h1>我们的团队</h1>
    </div>
    <div class="clear"></div>
    <div class="container ">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3></span>Team</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card-body">
                            <div class="caption text-center">
                                <h3>陈宇安</h3>
                                <p> 软件开发</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}